h1 {
    color: orangered;
  }
  h2 {
    color: red;
  }
  head {
  }
  * {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  body {
    background-color: grey;
  }
  button:nth-of-type(2n) {
    color: blue;
    background-color: black;
  }
  button:nth-child(odd) {
    color: red;
    background-color: black;
  }
  button:hover {
    color: #ffffff;
  }
  p {
    font-weight: 300;
    font-size: large;
  }
  section:hover {
    background-color: lightgray;
  }
  section {
    background-color: grey;
  }
  #search {
    background-color: white;
    border-color: black;
    border-radius: 20px;
  }
  #password {
    background-color: white;
    border-color: black;
    border-radius: 20px;
  }
  #signup {
    background-color: white;
    color: black;
  }
  #login {
    background-color: white;
    color: black;
  }
  .post {
    border-style: solid;
    border-color: black;
    padding: 5vw;
  }
  #title {
    font-size: 150px;
    font-family: Aileron-Light;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    color: orangered;
    background-color: grey;
  }
  
